

@page {
    margin: 10mm;
  }
  .hidden {
    display: none;
  }
  .fiche-spacing {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  /* Pour l'impression à l'écran */
  @media print {
    .fiche-section:not(:first-child) {
      page-break-before: always;
    }
  }
  /* Pour l'export PDF */
  .export .fiche-section {
    page-break-after: always;
    page-break-inside: avoid;
  }
  .export .fiche-section:last-child {
    page-break-after: auto;
  }
  /* Éviter de couper le contenu à l'intérieur des blocs */
  .fiche-section > div {
    page-break-inside: avoid;
  }

  #main-content {
    flex: 1;
    background-color: #f7f7f7;
    padding: 40px;
    /* Increased padding, adjust if necessary */
    border-radius: 10px;
    margin: 20px;
    /* Adjust margins as needed */
    width: 100%;
    /* Make it span the full width */
    max-width: none;
    /* Remove any maximum width limitation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  